<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{ifset title}{include title|stripHtml} | {/ifset}Ubytovna Prachatice - levné ubytování Jižních
        Čechách</title>
    <link rel="shortcut icon" href="{$basePath}/favicon.ico">
    {include 'includes/gtm-full.latte'}
    <script async src="{$basePath}/js/bundle.js"></script>
    <link rel="stylesheet" media="projection, screen" type="text/css" href="{$basePath}/css/bundle.css">
    <script>
        dataLayer.push({'error': true});
    </script>
</head>
<body>
{include 'includes/gtm-noscript.latte'}
<div id="wrap">
    <div id="wrap2">
        <div id="header">
            <h1><a href="{link Static:, [page=]}" title="Ubytovna Prachatice - levné ubytování v centru Prachatic">Ubytovna
                    Prachatice - levné ubytování Jižních Čechách<span></span></a></h1>
            <nav id="menu">
                <a href="/" title="Úvodní stránka Ubytovny Prachatice">Úvod</a>
            </nav>

        </div>

        <div id="content">
            <div id="main">
                {include content}
                <div class="cleaner"></div>
            </div>
        </div>

        <div id="footer">
            <p>2010-{= date('Y')} &copy; <a href="{link Static:, page=>'index'}">Ubytovna Prachatice</a></p>
        </div>
    </div>
</div>
</body>
</html>
