<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{ifset title}{include title|stripHtml} | {/ifset}Ubytovna Prachatice - levné ubytování Jižních
        Čechách</title>
    <link rel="shortcut icon" href="{$basePath}/favicon.ico">
    <link rel="stylesheet" media="projection, screen" type="text/css" href="{$basePath}/css/bundle.css">
    {include 'includes/gtm-full.latte'}
    <script>
        dataLayer.push({'error': true});
    </script>
</head>
<body>
{include 'includes/gtm-noscript.latte'}
<div id="wrap">
    <div id="motiv">
        <div id="wrap2">
            <div id="header">
                <h1><a href="{link Static:, [page=]}" title="Ubytovna Prachatice - levné ubytování v centru Prachatic">Ubytovna
                        Prachatice - levné ubytování Jižních Čechách<span></span></a></h1>
                <ul id="menu">
                    <li><a href="/" title="Úvodní stránka Ubytovny Prachatice">Úvod</a></li>
                </ul>

            </div>

            <div id="content">
                <div id="main">
                    <div class="in">
                        {include content}
                        <div class="cleaner"></div>
                    </div>
                </div>
            </div>

            <div id="footer">
                <p>2010 &copy; <a href="{link Static:, page=>'index'}">Ubytovna Prachatice</a></p>
            </div>
        </div>
    </div>
</div>
</body>
</html>
