<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <title>{ifset title}{include title|stripHtml} | {/ifset}Ubytovna Prachatice - levné ubytování Jižních Čechách</title>
    <link rel="shortcut icon" href="{$basePath}/favicon.ico">
    {include 'includes/gtm-full.latte'}
    <script async src="{$basePath}/js/bundle.js"></script>
    <link rel="stylesheet" media="projection, screen" type="text/css" href="{$basePath}/css/bundle.css">
</head>
<body>
{include 'includes/gtm-noscript.latte'}
<div id="wrap">
    <div id="wrap2">
        <div id="header">
            <h1><a href="{link Static:, page=>'index'}"
                   title="Ubytovna Prachatice - levné ubytování v centru Prachatic">Ubytovna Prachatice - levné
                    ubytování Jižních Čechách<span></span></a></h1>
            <nav id="menu">
                <a href="{link Static:, page=>'index'}" title="Úvodní stránka Ubytovny Prachatice">Úvod</a>
                <a href="{link Static:, page=>fotogalerie}" title="Fotografie ubytovny a okolí">Fotogalerie</a>
                <a href="{link Static:, page=>kontakt}" title="Kontaktní informace">Kontakt</a>
            </nav>
            <p><strong>René Kováč</strong><br>
                Ktiš 24, 384 03, okr. Prachatice<br>
                Tel.: <a href="tel:+420602443879">+420 602 443 879</a> (René),<br>
                <a href="tel:+420724964950">+420 724 964 950</a> (paní Eliška)<br>
                <a href="mailto:renekovac@seznam.cz">renekovac@seznam.cz</a></p>
        </div>

        <div id="content">
            <div id="main">
                {include content}
                <div class="cleaner"></div>
            </div>

            <div id="middle">
                <div class="left">
                    <h2>Ceník</h2>
                    <table>
                        <thead>
                        <tr>
                            <th>Délka ubytování</th>
                            <th>Cena za osobu</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <td>1 - 30 dní</td>
                            <td>170 Kč</td>
                        </tr>
                        <tr>
                            <td>dlouhodobě</td>
                            <td>dle domluvy</td>
                        </tr>
                        </tbody>
                    </table>
                    <p>Vybavené 1 - 4 lůžkové pokoje, televize<br>Wi-Fi internet za příplatek</p>
                </div>

                <div class="right">
                    <h2>Fotogalerie</h2>
                    <div class="foto">
                        <a data-lightbox="fotogalerie" href="{$basePath}/files/storage/foto/foto4.jpg">
                            <img src="{$basePath}/files/storage/thumbs-index/nahled4.jpg">
                        </a>
                        <a data-lightbox="fotogalerie" href="{$basePath}/files/storage/foto/foto6.jpg">
                            <img src="{$basePath}/files/storage/thumbs-index/nahled6.jpg">
                        </a>
                        <a class="last" data-lightbox="fotogalerie" href="{$basePath}/files/storage/foto/foto17.jpg">
                            <img src="{$basePath}/files/storage/thumbs-index/nahled17.jpg">
                        </a>
                        <a data-lightbox="fotogalerie" href="{$basePath}/files/storage/foto/foto19.jpg">
                            <img src="{$basePath}/files/storage/thumbs-index/nahled19.jpg">
                        </a>
                        <a data-lightbox="fotogalerie" href="{$basePath}/files/storage/foto/foto25.jpg">
                            <img src="{$basePath}/files/storage/thumbs-index/nahled29.jpg">
                        </a>
                        <a class="last" data-lightbox="fotogalerie" href="{$basePath}/files/storage/foto/foto32.jpg">
                            <img src="{$basePath}/files/storage/thumbs-index/nahled32.jpg">
                        </a>
                    </div>
                    <a href="{link Static:, page=>fotogalerie}">Prohlédnout celou fotogalerii</a>
                </div>
                <div class="cleaner"></div>
            </div>

            <div id="bottom">
                <div class="left">
                    <h2>Kontakt</h2>
                    <p><strong>Ubytovna Prachatice</strong><br>
                        Starokasárenská 192<br>
                        Prachatice<br>
                        <a href="https://goo.gl/maps/qqjaLe6ue6S2" target="_blank">mapa</a>
                </div>

                <div class="right">
                    <strong>René Kováč</strong><br>
                    <strong>Tel.:</strong> <a href="tel:+420602443879">+420 602 443 879</a>,
                    <a href="tel:+420724964950">+420 724 964 950</a><br>
                    <strong>e-mail:</strong> <a href="mailto:renekovac@seznam.cz">renekovac@seznam.cz</a><br><br>
                    <strong>GPS:</strong> 49°0'54.3"N; 13°59'50.99"E</p>
                </div>
                <div class="cleaner"></div>
            </div>

        </div>

        <div id="footer">
            <p>2010-{= date('Y')} &copy; <a href="{link Static:, page=>'index'}">Ubytovna Prachatice</a> - levné ubytování pro
                turisty a zaměstnance na Prachaticku<br>
                Tel.: <a href="tel:+420602443879">+420 602 443 879</a>,
                <a href="tel:+420724964950">+420 724 964 950</a>
                | e-mail: <a href="mailto:renekovac@seznam.cz">renekovac@seznam.cz</a></p>
        </div>
    </div>
</div>
</body>
</html>
