<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Hotel",
  "image": "http://www.ubytovna-prachatice.cz/files/storage/ubytovna-prachatice.jpg",
  "priceRange" : "$",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "Starokasárenská 192",
    "addressLocality": "Prachatice",
    "postalCode": "38301",
    "addressCountry": "CZ"
  },
  "name": "Ubytovna Prachatice",
  "description": "Ubytovna v centru Prachatic nabízí levné krátkodobé i dlouhodobé ubytování pro turisty, studenty nebo zaměstnance.",
  "telephone": "+420775552302",
  "email": "grek.milan@seznam.cz",
  "url": "http://www.ubytovna-prachatice.cz/",
  "hasMap": "https://goo.gl/maps/az8e3mSN4Cq"
}
</script>
