body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 0.9em;
  line-height: 1.4em;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #7C1E12;
}

a, h1, h2, h3, h4, p, ul, li, form, fieldset, td {
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

.cleaner {
  clear: both;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

img {
  border: none;
}

h2 {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #f6511f;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 120%;
  padding-bottom: 10px;
}

#wrap {
  text-align: center;
  background: url(../images/bg.png) 0 0 repeat-x;
}

#wrap2 {
  margin: 0 auto;
  text-align: left;
  width: 760px;
}

#header {
  height: 150px;
  position: relative;
  background: url(../images/splash.png) -60px 45% no-repeat transparent;
  background-size: 100%;

  h1 {
    position: absolute;
    top: 33px;
    left: 0;
    width: 502px;
    height: 117px;
    overflow: hidden;
    text-indent: -9999px;
  }

  span {
    display: block;
    position: absolute;
    top: 40px;
    left: 42px;
    width: 388px;
    height: 34px;
    background: url(../images/logo-ubytovna-prachatice.png) 0 0 no-repeat;
    z-index: 1;
    cursor: pointer;
  }

  p {
    position: absolute;
    right: 0;
    top: 43px;
    text-align: right;
    color: #c4af9e;
    line-height: 1.3em;
    a {
      color: #FFF;
      &:hover {
        text-decoration: none;
      }
    }
  }
}

#menu {
  position: absolute;
  top: 0;
  height: 31px;
  width: 100%;
  border: 1px solid #ff5f49;
  border-radius: 0 0 5px 5px;
  z-index: 100;
  background: linear-gradient(#cc321d, #811f13);

  a {
    display: block;
    float: left;
    margin-top: 5px;
    padding: 0 18px;
    border-right: 1px solid #600d03;
    color: #FFF;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
    &:last-child {
      border-right: none;
    }
  }
}

#content {
  padding-top: 20px;
  width: 760px;
}

#main {
  color: #443e35;
  background-color: white;
  box-shadow: inset 0 0 20px -5px black;
  border: 2px white solid;
  border-radius: 5px;
  padding: 30px 25px;
  position: relative;

  &::before {
    position: absolute;
    background: url(../images/decor-left.png) right top no-repeat transparent;
    width: 32px;
    height: 116px;
    content: " ";
    left: -34px;
    top: -14px;
  }

  &::after {
    position: absolute;
    background: url(../images/decor-right.png) right top no-repeat transparent;
    width: 65px;
    height: 118px;
    content: " ";
    right: -67px;
    top: 0;
  }

  p {
    padding: 5px 0;
  }

  strong {
    color: #f6511f;
  }

  a {
    color: #f6511f;
    &:hover {
      text-decoration: none;
    }

    ul li {
      padding-left: 20px;
      background: url(../images/bullet.png) left center no-repeat;
      line-height: 22px;
      margin-left: 15px;
    }
  }
}

#middle {
  margin-top: 10px;
  color: #FFF;
  padding: 30px 25px;

  background-color: #962f21;
  box-shadow: inset 0 0 20px -5px black;
  border: 2px #962f21 solid;
  border-radius: 5px;

  h2 {
    color: #FFF;
  }

  p {
    padding: 5px 0;
  }

  a {
    color: #FFF;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

.left {
  float: left;
  width: 340px;
}

.right {
  float: right;
  width: 340px;
}

.foto a {
  display: block;
  float: left;
  width: 100px;
  margin-right: 10px;
  margin-bottom: 10px;
  border: 1px solid #E27364;
  padding: 2px;

  &:hover {
    border: 1px solid #FFF;
  }

  &.last {
    margin-right: 0;
  }

  img {
    display: block;
  }
}

.fotogalerie {
  padding-bottom: 10px;
  a {
    display: block;
    float: left;
    margin-right: 15px;
    margin-bottom: 10px;
    border: 1px solid #E27364;
    padding: 2px;
  }

  h2 {
    clear: left;
  }

  a {
    &:hover {
      border: 1px solid #FFF;
    }

    &.last {
      margin-right: 0;
    }

    img {
      display: block;
    }
  }
}

table {
  width: 340px;
  color: #FFF;
  border-collapse: collapse;

  th {
    background: #872113;
    border: 1px solid #872113;
    padding: 3px 5px;
    font-size: 90%;
  }

  td {
    background: #e27364;
    border: 1px solid #872113;
    padding: 3px 5px;
  }
}

#bottom {
  margin-top: 10px;
  margin-bottom: 10px;
  color: #FFF;

  background-color: #6d1301;
  box-shadow: inset 0 0 20px -5px black;
  border: 2px #6d1301 solid;
  border-radius: 5px;
  padding: 30px 25px;

  h2 {
    color: #FFF;
  }

  a {
    color: #F6511F;

    &:hover {
      text-decoration: none;
    }
  }
}

#form {
  label {
    width: 90px;
    float: left;
  }

  .input {
    margin: 0 0 0 10px;
    width: 160px;
    padding: 3px 5px;
    border: 1px solid #872113;
    background: #e27364;
    color: #250905;
  }

  textarea.input {
    width: 220px;
    height: 70px;
  }

  #submit {
    margin-left: 100px;
    background: #f6511f;
    color: #FFF;
    border: none;
    padding: 3px 8px;
  }

  p {
    clear: left;
    padding-bottom: 5px;
  }
}

#footer {
  clear: both;
  padding: 20px;
  background-color: #250905;
  border-radius: 5px 5px 0 0;

  p {
    padding: 0;
    margin: 0;
    color: #674943;
    font-size: 80%;
    line-height: 24px;

    a {
      color: #C4AF9E;

      &:hover {
        text-decoration: none;
      }
    }
  }
}
